page-chat {
  .groups-wrapper {
    padding-bottom: 10vh !important;
    .more-wrapper {
      margin: 0 0 0 0 !important;
      padding: 0 0 0 0 !important;
      display: flex;
      flex-direction: row-reverse;
      button {
        margin: -5px 0 0 0;
        .more-button {
          color: grey;
          font-size: 2rem;
        }
      }
    }
    .info-wrapper {
      width: 100%;
      .group-name {
        margin-top: -10px;
        width: 100%;
        text-align: center;
        font-size: 1.36rem;
        font-weight: 500;
      }
      .group-detail {
        margin-top: 0.5vh;
        width: 100%;
        font-size: 1.1rem;
        color: gray;
        text-align: center;
      }
      .group-contacts {
        margin-top: 1vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .contact {
          margin-left: 1vw;
          margin-right: 1vw;
          .avatar {
            width: 22px;
            height: 22px;
            border-radius: 50%;
          }
          .avatar.owner {
            border: 1px solid color($colors, primary);
          }
        }
        padding-bottom: 1vh;
      }
    }
  }
}
