<ion-header no-border>
  <ion-navbar>
    <ion-title style="text-align:center;">{{family.name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <div class="horizontalContainer">
      <button ion-button *ngFor="let i of family.childrens" (click)="child_detail(i)" clear icon-only>
        <ion-icon class="horizontal_avatars" name="contact"></ion-icon>
      </button>

      <button ion-button *ngIf="family.coParent != ' '" clear icon-only>
        <ion-icon class="horizontal_avatars" name="contact"></ion-icon>
      </button>
    </div>
    <hr>
  <ion-fab bottom right>
    <button ion-fab><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab style="width: 80px;" *ngIf="family.coParent == ' '"
      (click)="addRelation('coParent')">Co-parent</button>
      <button ion-fab style="width: 80px;" (click)="addRelation('child')">Child</button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
